
.swiper-container{
    width: 100vw;
    height: 100vh;
}

/*第一页 样式开始*/
.swiper-slide{
    background-image: url("../image/beijing.jpg");/*背景图*/
}

/*头部 图片*/
.toubu{
    width: 100%;/*宽*/
    display: block;/*块级*/
}

/*.liul{*/
    /*margin-top: 24px;/!*200M流量待领取 上边距*!/*/
/*}*/


/*200M流量待领取*/
#liuliang{
    color: white;/*字体颜色*/
    font-size: 0.42rem;/*字体大小*/
    text-shadow: 0 4px 2px rgba(0,0,0,0.3);/*字体阴影*/
}

.yyt{
    margin: 10px 0 20px 0;/*福建移动营业厅 外边距*/
}

/*福建移动营业厅*/
#yingye{
    color: white;/*字体颜色*/
    padding: 0 10px;/*左右距离*/
    font-size: 0.28rem;/*字体大小*/
}

.xing{
    /*星星高度*/
    height: 0.24rem;/*高*/
}

.guanzhu{/*首次关注 底层*/
    width: 6.1rem;/*宽度*/
    height: 0.64rem;/*高度*/
    border-radius: 0.08rem;/*圆角*/
    background-color: #8fcc4e;/*背景色*/
}

.scziti{/*首次关注，立领100M*/
    color: white;/*字体颜色*/
    font-size: 0.3rem;/*字体大小*/
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);/*字体投影*/
}

#mohuc{
    /*透明层*/
    width: 6.1rem;/*宽*/
    height: 3.9rem;/*高*/
    background: rgba(0,0,0,0.05);/*透明色*/
}

#nerweima{
    /*二维码*/
    width: 3rem;/*宽*/
    margin-top: 0.16rem;/*上边距*/
}

#shibie{
    /*识别二维码  关注公众号*/
    color: white;/*字体颜色*/
    font-size: 0.24rem;/*字体大小*/
    margin-top: 0.18rem;/*上边距*/
}

.zaici{
    /*向上滑动，再得100M*/
    color: white;/*字体颜色*/
    font-size: 0.28rem;/*字体大小*/
    position: fixed;/*浮动定位*/
    bottom: 0.47rem;/*下*/
    left: 2.32rem;/*左*/
}

.jiantou{
    /*上箭头高度*/
    height: 0.4rem;
    background:rgba(0,0,0,0.01);
    animation: flash 0.9s linear infinite;/*闪烁*/
}
    @keyframes flash{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }



/*第一页 样式结束*/




/*第二页样式 开始*/
.yytbianju{
    /*福建手机营业厅 上边距*/
    margin-top: 146px;
}

.eryyt{
    /*福建手机营业厅*/
    color: white;/*字体颜色*/
    font-size: 0.28rem;/*字体大小*/
    padding: 0 10px;/*内边距*/
}

.scdl{
    /*首次登陆，立领100M 底层*/
    width: 6.1rem;/*宽*/
    height: 0.64rem;/*高*/
    color: white;/*字体颜色*/
    margin-top: 0.18rem;/*上边距*/
    font-size: 0.3rem;/*字体大小*/
    text-align: center;/*水平居中*/
    border-radius: 0.08rem;/*圆角*/
    background-color: #42adff;/*背景颜色*/
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
}

#er{
    padding: 0 0.7rem;/*内边距*/
}


.ermohuc{
    /*第二页模糊层*/
    width: 6.1rem;/*宽*/
    height: 3.9rem;/*高*/
    background: rgba(0,0,0,0.05);/*透明色*/
}

.eerweima{
    /*第二页二维码*/
    width: 3rem;/*宽*/
    padding-top: 14px;/*上边距*/
}

.shibie2{
    /*识别二维码 下载APP*/
    color: white;/*字体颜色*/
    font-size: 0.24rem;/*字体大小*/
    padding-top: 0.16rem;
}

.xiangxia {
    /*向下滑动 返回首页*/
    color: white; /*字体颜色*/
    font-size: 0.28rem; /*字体大小*/
    position: fixed; /*浮动定位*/
    bottom: 1rem; /*下*/
    left: 2.67rem; /*左*/
}

.jiantou2{
    /*向下 箭头*/
    margin-top: 0.24rem;/*上边距*/
    transform: rotate(180deg);/*箭头旋转*/
    background:rgba(0,0,0,0.02);
    animation: flash 1s linear infinite;/*闪烁*/
}
    @keyframes flash{
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }

/*第二页样式 结束*/
















