
.swiper-container{
    width: 100vw;
    height: 100vh;
}

/*第一页 样式开始*/
.swiper-slide{
    background-image: url("../image/beijing.png");/*背景图*/
}

/*头部 图片*/
.toubu{
    width: 100%;/*宽*/
    display: block;/*块级*/
}

/*200M流量待领取*/
#liuliang{
    color: white;/*字体颜色*/
    text-shadow: 0 4px 2px rgba(0,0,0,0.3);/*字体阴影*/
}

/*福建移动营业厅*/
#yingye{
    color: white;/*字体颜色*/
    font-size: 28px;/*字体大小*/
}


.guanzhu{
    width: 6.1rem;/*宽度*/
    height: 0.64rem;/*高度*/
    color: white;/*字体颜色*/
    font-size: 30px;/*字体大小*/
    border-radius: 10px;/*圆角*/
    background-color: #8fcc4e;/*背景色*/
}



/*第一页 样式结束*/






















